.features {
    margin: 15rem 0;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        width: 4.5rem;
        height: 4.5rem;
        fill: $color-primary;
        grid-row: 1/-1;
        transform: translateY(-1rem);
    }

    &__text {
        fill: $color-primary;
        font-size: 1.7rem;
        grid-column: 2/-1 ;
    }

    p {
        margin: 0;
    }
}